body {
   font-family:Cochin, Georgia, Times, 'Times New Roman', serif;
   background-image: linear-gradient(purple, black);
   color: aliceblue;

}

header {
   text-align: center;
   margin: 0%;
   padding-top: 2%;
   background-image: url("../images/crowBanner.jpg");
   background-size: 200vh;
   background-position: top;   
   margin-bottom: 2%;
}
nav {
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(17, 17, 17, 0.603);
    margin-top: 2%;
    flex-basis:100%;
}
nav ul li {
    flex-basis: 100%;
    border: solid purple;
    padding: 5px
}

nav ul li a {
    display: block;
    color: aliceblue;
    text-decoration: none;
    font-size: 1.3rem;
}
nav ul li a:hover {
    background-color:aliceblue;
    color: black;
    font-weight: bold;
}
main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
    "about sideBar"
    "content sideBar";
    gap: 5%;

}

h2 {
    text-align: center;
}

#about {
    grid-area: about;
    padding-left: 3%;
    text-align: center;
   
}

#content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    iframe {
        width: 100%;
        }
        padding-left: 3%;
}

#schedule {
    grid-area: sideBar;
    display: grid;
    grid-template-rows: .5fr 4fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "Headline"
    "Table"
    "Crow";
   
    text-align: center;
    border: solid black 1vw;
 
    
}
table {
    border-collapse: collapse;
    .streamInfo {
        border-bottom: solid black 5px;
    }
    .streamInfo:nth-child(odd) {
        background-color: purple;
    }
    th {
        border-bottom: solid black 5px;
        background-color: purple;
    }
}


#schedule h2 {
    grid-area: Headline;
    margin: 0;
    align-self: center;
    justify-self: center;
}
#schedule table {
    grid-area: Table;
    border-top: solid black 1vw;
}
#schedule #crowPic {
    grid-area: Crow;
    max-height: 100%;
    max-width: 100%;
    border-top: solid black 1vw;
}

footer {
padding-top: 6%;
padding-bottom: 1%;
text-align: center;
a {
    color: aliceblue;
}
}

